h1, h2 {
    text-align: center;
}

body {
    background-color: #5C80BC;
    font-size: 20px;
font-family: 'Roboto', sans-serif;
}
#pic {
display: block;
margin-left: auto;
margin-right: auto;
border: 50px solid black;
border-radius: 50%;
background-color: white;
}
#sec1 {
    background-color: #E8C547;
}
#sec2 {
    background: url(../img/matrix.gif);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px 50px 50px 50px;
    color: green;
    text-align:center

}
#sec3 {

}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}
p {
    font-size: 16px;
    text-align: center;
}

h4, .bottom-link{
    text-align: center;
}

.big-font{
font-size: 100px;
}

body {

}
.ugly, .beautiful, button {

    width: 250px
}
button > span {

    font-size: 50px;
}


.ugly {

background-color: blue;
border: 20px solid red;

}

.beautiful {
background: transparent;
border: 2px solid blue;
border-radius: 10px;
text-align: center;
padding: 10px;
transition: all 2s ease;

}


.beautiful:hover {
transform: scale(2) rotate(45deg);

border: 2px solid red;

}


a, a:visited, a:active {
    color: red;

}

#section2 > button:nth-child(2){
    transform: rotate(180deg);
}
